.row
  = for post <- @posts do
    .col.sm12.m4
      .card
        .small-card-image
          %img{src: "http://materializecss.com/images/parallax1.jpg"}
          = link post.title, to: post_path(@conn, :show, post), class: "card-title"
    - end

.fixed-action-btn
  = link to: post_path(@conn, :new), class: "btn-floating waves-effect waves-light btn-large red" do
    = svg_image @conn, "add"
  - end
