.container
  .center
    .wedding-login-header
      .left
        = svg_image(@conn, "id-card", "wedding")
      %h4.left
        Sign In
      .clearfix
    .card-panel.grey.lighten-4
      = link to: auth_path(@conn, :request, :google), class: "btn white grey-text google-sign-in waves-effect" do
        = svg_image @conn, "google"
        Sign in with Google
      - end
