.pad-sides.large
  %h4 Upload Photos

  = form_for @changeset, photo_path(@conn, :upload, @album.id), [multipart: true, class: "dropzone"], fn(_f) ->
    .fallback
      %input{type: "file", name: "file", multiple: ""}
  - end

  = link "Done", to: album_path(@conn, :show, @album), class: "btn grey waves-effect waves-light right", style: "margin-top: 20px"

.modal.small.grey.lighten-2#recaptcha
  .modal-content
    %input#recaptcha_url{type: "hidden", value: "#{photo_path(@conn, :verify)}"}
    .g-recaptcha{data-sitekey: "#{get_env(:recaptcha_key)}", data-callback: "recaptchaSuccess"}
