.footer-copyright
  .container
    .left
      - if current_user(@conn) do
        = link "Sign Out", to: auth_path(@conn, :sign_out)
      - else
        = link to: auth_path(@conn, :request, :google), class: "btn white grey-text google-sign-in waves-effect" do
          = svg_image @conn, "google"
          Sign in
        - end

    .center.pad-sides.large
      © 2016 Copyright Nikko Miu

    .clearfix
