body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;

  a, a:active {
    color: #DDD;
  }

  a:hover, a:focus {
    color: #FFF;
    text-decoration: underline;
  }
}
