.material-svgs, .wedding-svgs {
  @extend .material-icons;
}

.small .wedding-svgs.wedding-exit-svg svg {
  position: relative;
  top: 2px;

  width: 32px;
  margin-right: 6px;
}

.btn .material-svgs svg {
  width: 24px;
  height: 24px;

  margin-top: 6px;
  margin-bottom: 6px;

  fill: white;
}

.btn-floating .material-svgs svg,
.btn-floating .wedding-svgs svg {
  height: 20px;
  width: 20px;

  margin: 8px;

  fill: white;
}

.btn-large .material-svgs svg {
  height: 28px;
  width: 28px;

  margin: 14px;
}

.nav-wrapper {
  .breadcrumb .material-svgs svg {
    margin-top: 12px;
    margin-bottom: 12px;

    fill: white;
  }

  .wedding-svgs {
    width: 24px;
    padding-top: 6px;
  }
}

.card-action .wedding-svgs {
  height: 24px;
}

.brand-logo .wedding-svgs {
  margin-right: 6px !important;
}

.page-footer .wedding-svgs svg {
  height: 46px;
}

.wedding-login-header svg {
  height: 72px;
  position: relative;
  bottom: 2px;
}

.panel-svg {
  width: 70px;
  height: 70px;

  fill: #64b5f6;
}

@media only screen and (min-width: 601px) {
  .nav-wrapper .wedding-svgs {
    width: 28px;
    padding-top: 8px;
  }
}
