.material-svgs, .wedding-svgs {
  @extend .material-icons;
}

.btn-floating .material-svgs svg {
  height: 20px;
  width: 20px;

  margin: 8px;

  fill: white;
}

.btn-large .material-svgs svg {
  height: 28px;
  width: 28px;

  margin: 14px;
}

.nav-wrapper {
  .breadcrumb .material-svgs svg {
    margin-top: 12px;
    margin-bottom: 12px;

    fill: white;
  }

  .wedding-svgs {
    width: 24px;
    padding-top: 6px;
  }
}

.brand-logo .wedding-svgs {
  margin-right: 6px !important;
}

.page-footer .wedding-svgs svg {
  height: 45px;
}

@media only screen and (min-width: 601px) {
  .nav-wrapper .wedding-svgs {
    width: 28px;
    padding-top: 8px;
  }
}
