@import url(https://fonts.googleapis.com/css?family=Raleway:700,300);

$primary-color: lighten(#187bd6, 4%);
$primary-color-light: #64b5f6;

$secondary-color: #64b5f6;

$navbar-height: 45px;
$navbar-height-mobile: 38px;
$navbar-brand-font-size: 1.4rem;

$sidenav-item-height: 42px;
$input-font-size: 16px;

@import "materialize";

@import "_color";
@import "_helpers";
@import "_footer";
@import "_form";
@import "_btn";
@import "_nav";
@import "_card";
@import "_dropzone";
@import "_svg_icons";

html {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  small {
    @extend .grey-text;
  }
}

.CodeMirror {
  font-size: 16px !important;
}

.parallax-container {
  &.small {
    height: 250px;
  }

  h3 {
    color: white;
    padding-top: 85px;
    text-shadow: 1px 1px 9px #000;
  }
}

.alert {
  margin: 0;
}

.wedding-login-header h4 {
  @extend .grey-text;

  margin-top: 20px;
}

.modal.small {
  max-width: 400px;
}

#recaptcha.modal {
  min-width: 332px;

  .modal-content {
    padding: 15px;
  }
}

.g-recaptcha {
  display: table;

  margin-left: auto;
  margin-right: auto;
}
